:root {
  --bs-primary: #2a58b2;
  --bs-primary-rgb: 42, 88, 178;
  --bs-success: #1ce1ac;
  --bs-success-rgb: 28, 255, 172;
  --bs-black: #232323;
  --bs-black-rgb: 35, 35, 35;
  --bs-warning: #ebac0c;
  --bs-warning-rgb: 235, 172, 12;
  --bs-danger: #ff007f;
  --bs-light: #c0ccda;
  --bs-light-rgb: 192, 204, 218;
  --bs-dark: #23202e;
  --bs-dark-rgb: 35, 32, 46;
}

.fs-6 {
  font-size: .75rem !important;
}
